// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$navbackground: #421c5e;
$navtextcolor: white;
$cardcolor: #f0f0f0;
$inputheight: 3rem;


$tablecolor: #efefef;
$fontweightbold: bold;

// body>div>p {
//     background-color: $navbackground !important;
// }
* {
    font-family: Calibri;
}